<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问你的相册才能整理和删除照片。</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
